---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  text: string;
  buttonType: "primary";
}

const { text, buttonType, ...props } = Astro.props;
---

<button class={buttonType} {...props}>{text}</button>

<style>
  .primary {
    border: none;

    background-color: var(--background-dark);
    border-radius: 0.375rem;
    color: var(--text-primary-on-dark);

    padding: 0.625rem 0.75rem;

    font-family: var(--font-britti);
    font-size: 1.25rem;

    display: flex;
    align-items: center;
    gap: 0.375rem;

    &::after {
      display: inline-block;
      -webkit-mask: url("/assets/icons/arrowRight.svg") no-repeat center;
      -webkit-mask-size: cover;
      mask: url("/assets/icons/arrowRight.svg") no-repeat center;
      mask-size: cover;

      width: 24px;
      height: 24px;
      content: "";

      background-color: white;
    }
  }
</style>
