---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<a href={`talks/${id}`} class="speaker_card__link" id={id}>
  <slot />
  <span class="speaker_card__hover_background"></span>
</a>

<style is:global>
  .speaker_card__link {
    display: grid;
    grid-template-areas: "img";
  }

  .speaker_card__link:hover .talk p {
    color: var(--text-primary-on-dark);
    background-color: transparent;
    position: relative;
    z-index: 1;
  }

  .speaker_card__hover_background {
    position: absolute;
    z-index: 0;
    width: 0;
    height: 100%;
    background-color: var(--borderColor);
    opacity: 0.8;
    left: 0;
    top: 0;

    transition: width 0.4s;
  }

  .speaker_card__link:hover .speaker_card__hover_background {
    width: 100%;
  }
</style>
