---
interface Props {
  span: number;
}

const { span } = Astro.props;
---

{
  /* TODO: Use descripion if span > 1. Replace 200 with 1 and change p to use descripion */
}
{
  span > 200 && (
    <div class="description">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt vel
        sit labore corporis consequatur voluptatibus laboriosam et sapiente
        accusamus? Recusandae libero odio numquam sit quisquam nihil! Distinctio
        cum dignissimos quos.
      </p>
    </div>
  )
}

<style>
  .description {
    grid-area: description;

    & > p {
      color: var(--text-tertiary);
      line-height: var(--Line-height-Body-Small);
      letter-spacing: 0.01125rem;
    }
  }
</style>
