@font-face {
  font-family: "Britti";
  src: url("/fonts/britti-sans-variable.woff2") format("woff2");
}

:root {
  --font-britti: "Britti";

  --Surface-yellow-subtle: #fffbf6;

  --color-yellow: #ffd02f;
  --color-orange: #e45738;
  --color-dark-blue: #2f02f6;
  ---color-purple: #8a4cf6;

  --coral-200: #ffc2be;

  --grey-900: #111111;
  --grey-800: #272727;
  --grey-50: #f4f4f4;

  --background-primary: #fafafa;
  --background-dark: #2d2d2d;

  --text-primary: #0a0b0b;
  --text-primary-on-dark: #fafafa;
  --text-tertiary: #5e5e5e;
  --text-disabled: #737474;

  --Padding-xs: 0.25rem;
  --Padding-s: 0.75rem;
  --Padding-rem: 1rem;
  --Padding-m: 1.5rem;
  --Padding-l: 3rem;
  --Padding-xl: 6rem;
  --Padding-xxl: 8rem;
  --Padding-index: var(--Padding-rem);
  --Padding-practical: 4.5rem;

  --Font-size-H1: 4.5rem;
  --Font-size-H2: 3.5rem;
  --Font-size-H3: 2rem;
  --Font-size-H4: 1.5rem;
  --Font-size-H5: 1.25rem;

  --Font-size-Body-Small: 1rem;
  --Font-size-Body-Normal: 1.125rem;
  --Font-size-Body-Big: 1.5rem;

  --Line-height-H1: 5rem;
  --Line-height-H2: 4rem;
  --Line-height-H3: 2.5rem;
  --Line-height-H4: 2rem;

  --Line-height-Body-Small: 1.5rem;
  --Line-height-Body-Normal: 2rem;
  --Line-height-Body-Big: 2rem;

  --max-width-tablet: 834px;

  @media (max-width: 1000px) {
    --Font-size-H1: 3.5rem;
    --Font-size-H2: 2.5rem;

    --Line-height-H1: 4rem;
  }

  @media (max-width: 530px) {
    --Font-size-H1: 2rem;
    --Font-size-H2: 2rem;
    --Font-size-H3: 1.5rem;

    --Line-height-H1: 2.5rem;

    --Line-height-H3: 2rem;

    --Padding-index: var(--Padding-s);
    --Padding-practical: 2rem;
  }
}

/* Fixes issue with variable fonts on Safari */
* {
  font-synthesis: none;
}

:where(html, body) {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(2 * var(--Padding-m) + 40px);
}

:where(main) {
  background-color: var(--grey-50);
  padding: var(--Padding-index);

  display: flex;
  flex-direction: column;
  gap: var(--Padding-xxl);

  @media (max-width: 1000px) {
    gap: var(--Padding-xl);
  }

  @media (max-width: 530px) {
    gap: var(--Padding-l);
  }
}

:where(h1, h2, h3, p, a, li, mark, span) {
  font-family: var(--font-britti);
  color: var(--text-primary);
  padding: 0;
  margin: 0;
  font-weight: 450;
}

:where(h1) {
  font-size: var(--Font-size-H1);
}

:where(h2) {
  font-size: var(--Font-size-H2);
  line-height: var(--Line-height-H2);
}

:where(h3) {
  font-size: var(--Font-size-H3);
  line-height: var(--Line-height-H3);
}

:where(p) {
  font-size: var(--Font-size-Body-Normal);
  line-height: var(--Line-height-Body-Normal);
}

:where(a) {
  text-decoration: none;
  color: inherit;
}

:where(ul) {
  padding: 0;
  padding-left: 1rem;
  margin: 0;
}

:where(mark) {
  background-color: var(--coral-200);
  padding: 0rem 0.25rem;
  border-radius: 0.375rem;
  color: var(--text-primary);
  width: fit-content;
}

.hover_underline {
  display: inline-block;
  position: relative;
}

.hover_underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover_underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
