@font-face {
  font-family: "Britti";
  src: url("/fonts/britti-sans-variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-britti: "Britti";

  --color-yellow: #ffd02f;

  --background-primary: #fafafa;
  --background-dark: #2d2d2d;

  --text-primary: #0a0b0b;
  --text-primary-on-dark: #fafafa;
  --text-tertiary: #5e5e5e;

  --Padding-s: 0.75rem;
  --Padding-m: 1.5rem;
}

:where(h1, h2, p, a) {
  font-family: var(--font-britti);
  color: var(--text-primary-on-dark);
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 8rem;
}

a {
  text-decoration: none;
  color: inherit;
}
