@font-face {
  font-family: "Britti";
  src: url("/fonts/britti-sans-variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-britti: "Britti";

  --Surface-yellow-subtle: #fffbf6;

  --color-yellow: #ffd02f;
  --color-orange: #e45738;
  --color-dark-blue: #2f02f6;
  ---color-purple: #8a4cf6;

  --coral-200: #ffc2be;

  --grey-900: #111111;
  --grey-800: #272727;
  --grey-50: #f4f4f4;

  --background-primary: #fafafa;
  --background-dark: #2d2d2d;

  --text-primary: #0a0b0b;
  --text-primary-on-dark: #fafafa;
  --text-tertiary: #5e5e5e;
  --text-disabled: #737474;

  --Padding-s: 0.75rem;
  --Padding-rem: 1rem;
  --Padding-m: 1.5rem;
  --Padding-l: 3rem;
  --Padding-xl: 6rem;
  --Padding-xxl: 8rem;

  --Font-size-H1: 8rem;
  --Font-size-H2: 3.5rem;
  --Font-size-H3: 2rem;
  --Font-size-H4: 1.5rem;
  --Font-size-H5: 1.25rem;

  --Font-size-Body-Small: 1rem;

  --Line-height-H2: 4rem;
  --Line-height-H3: 2.5rem;

  --Line-height-Body-Small: 1.5rem;

  --max-width-tablet: 834px;

  @media (max-width: 1000px) {
    --Font-size-H1: 4.375rem;
    --Font-size-H2: 2.5rem;
  }

  @media (max-width: 530px) {
    --Font-size-H1: 2.625rem;
    --Font-size-H2: 2rem;
    --Font-size-H3: 1.5rem;

    --Line-height-H3: 2rem;
  }
}

/* Fixes issue with variable fonts on Safari */
* {
  font-synthesis: none;
}

:where(html, body) {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(2 * var(--Padding-m) + 40px);
}

:where(main) {
  background-color: var(--grey-50);
  padding: var(--Padding-rem);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.5px;

  display: flex;
  flex-direction: column;
  gap: var(--Padding-xxl);

  @media (max-width: 1000px) {
    gap: var(--Padding-xl);
  }

  @media (max-width: 530px) {
    gap: var(--Padding-l);
    padding: var(--Padding-s);
  }
}

:where(h1, h2, p, a, mark, span) {
  font-family: var(--font-britti);
  color: var(--text-primary);
  padding: 0;
  margin: 0;
  font-weight: 450;
}

:where(h1) {
  font-size: var(--Font-size-H1);
  font-weight: 700;
}

:where(h2) {
  font-size: var(--Font-size-H2);
  line-height: var(--Line-height-H2);
}

:where(a) {
  text-decoration: none;
  color: inherit;
}

:where(mark) {
  background-color: var(--coral-200);
  padding: 0rem 0.25rem;
  border-radius: 0.375rem;
  color: var(--text-primary);
  width: fit-content;
}
