---
import type { ColorPair } from "../../utils/colors";

interface Props {
  colorPair?: ColorPair;
}

const { colorPair } = Astro.props;
const color = colorPair?.color;
const textColor = colorPair?.textColor;
---

<p class="discipline">
  <slot />
</p>

<style define:vars={{ color, textColor }}>
  .discipline {
    font-weight: 540;
    padding: 0.5rem;
    border: 1px solid var(--color, var(--text-primary));
    border-radius: 2.5rem;
    width: fit-content;

    color: var(--textColor, var(--text-primary));
    background-color: var(--color);
    font-size: 1rem;
  }
</style>
