<nav class="navbar">
  <button
    class="navbar__hamburger_menu"
    aria-expanded="false"
    id="hamburgerButton"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>
  <ul class="navbar__menu" role="menubar" id="menu">
    <li role="menuitem">
      <a href="/schedule">Full schedule</a>
    </li>
    <li role="menuitem">
      <a href="/schedule">Speakers</a>
    </li>
    <li role="menuitem">
      <a href="/schedule">FAQ</a>
    </li>
  </ul>
</nav>

<script>
  const hamburgerButton = document.getElementById("hamburgerButton");

  if (hamburgerButton) {
    hamburgerButton.addEventListener("click", () => {
      const isExpanded =
        hamburgerButton.getAttribute("aria-expanded") === "true";
      hamburgerButton.setAttribute(
        "aria-expanded",
        isExpanded ? "false" : "true",
      );
    });
  }
</script>

<style>
  a {
    font-size: var(--Font-size-H5);
  }

  .navbar {
    padding: 1.5rem 0rem 1.5rem 3rem;
    height: fit-content;
    background-color: var(--background-primary);

    position: sticky;
    top: 0;
    z-index: 100;
  }

  .navbar__menu {
    max-width: 756px;
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__hamburger_menu {
    display: none;
    height: 2rem;

    & > span {
      display: inline-block;
      width: 2rem;
      height: 4px;
      background-color: var(--background-dark);
      transition: all 0.4s;
    }
  }

  @media (max-width: 830px) {
    .navbar {
      background-color: var(--grey-50);
      padding-left: 1rem;
    }

    .navbar__menu {
      height: 100vh;
      width: 100%;
      padding: 1rem 3rem 0rem 1rem;
      background-color: var(--grey-50);

      flex-direction: column;
      gap: 2rem;
      justify-content: start;
      align-items: start;

      position: absolute;
      left: -1000px;

      transition: left 0.3s;
    }

    .navbar__hamburger_menu[aria-expanded="true"] + .navbar__menu {
      left: 0px;
    }

    .navbar__hamburger_menu {
      border: none;
      background-color: inherit;

      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .navbar__hamburger_menu[aria-expanded="true"] {
      display: grid;
      grid-template-areas: "card";

      > span {
        grid-area: card;
        align-self: center;

        transition: all 0.4s;
      }

      > span:nth-child(1) {
        transform: rotate(45deg);
      }

      > span:nth-child(2),
      span:nth-child(3) {
        transform: rotate(-45deg);
      }
    }

    a {
      font-size: var(--Font-size-H3);
    }
  }
</style>
