---
import Accordion from "../components/Accordion.vue";
import Track from "../components/Track.astro";
import Layout from "../layouts/Layout.astro";
import { schedule } from "../utils/schedule";
---

<Layout>
  <h1>Schedule</h1>
  {
    schedule.map((session) => {
      return (
        <Accordion
          client:visible
          title={session.title}
          startTime={session.start}
          endTime={session.end}
          id={1}
        >
          {session.tracks.map((track) => {
            return <Track track={track} />;
          })}
        </Accordion>
      );
    })
  }
</Layout>
