---
import Accordion from "../components/Accordion.vue";
import Track from "../components/Track.astro";
import ScheduleLayout from "../layouts/Layout.astro";
import { schedule } from "../utils/schedule";
---

<ScheduleLayout>
  <h1 class="schedule__heading">Schedule</h1>
  {
    schedule.map((session) => {
      return (
        <Accordion
          client:visible
          title={session.title}
          startTime={session.start}
          endTime={session.end}
          id={1}
        >
          {session.tracks.map((track) => {
            return <Track track={track} />;
          })}
        </Accordion>
      );
    })
  }
</ScheduleLayout>

<style>
  .schedule__heading {
    width: 100%;
    max-width: 1410px;
    margin: auto;
  }
</style>
