---
import StreamView from "../components/streamView.astro";
import ScheduleLayout from "../layouts/ScheduleLayout.astro";
import StreamLayout from "../layouts/StreamLayout.astro";
---

<StreamLayout
  title="Stream | Refill 2025"
  description="Watch live streams of Refill 2025 talks and sessions. Stay engaged with insightful discussions, workshops, and keynotes—hosted by Variant."
  keywords="Refill 2025 schedule, conference schedule, tech conference, workshops, networking, Variant, talks, event, stream"
  image="/assets/img/og-refill.png"
  url="https://www.refillconf.com/stream"
  layoutGap="5rem"
>
  <h1 class="stream__heading">Stream</h1>

  <div class="content__flex">
    <p>
      In this space you can watch live streams of Refill 2025 talks and
      sessions. Follow along with the schedule below for the entire day.
    </p>

    <p><a href="/schedule">See full schedule</a> to plan ahead.</p>
  </div>

  <StreamView
    location="Design Track"
    streamId="mOhbdBqfpGQ?si=wqKrziyrOa-E5ENF"
  />
  <StreamView
    location="Development Track"
    streamId="PdBdX2XqUTU?si=hCyQeKLyVnB-sW2z"
  />
  <StreamView
    location="Strategy & Product Track"
    streamId="GOVYJ-dP6Ks?si=Pk0tp10EUo-9F3rJ"
  />
</StreamLayout>

<style>
  .stream__heading {
    max-width: 1410px;
    width: 100%;
    margin: auto;
  }

  .content__flex {
    width: 100%;
    max-width: 1410px;
    margin: auto;
  }

  .content__flex p {
    max-width: 600px;
  }
  .content__flex p + p {
    margin-top: 1rem;
  }

  a {
    text-decoration: underline;
  }

  .stream__image {
    width: 100%;
    margin: 3rem 0;
  }
</style>
