---
import StreamView from "../components/streamView.astro";
import ScheduleLayout from "../layouts/ScheduleLayout.astro";
import StreamLayout from "../layouts/StreamLayout.astro";
---

<StreamLayout
  title="Stream | Refill 2025"
  description="Watch live streams of Refill 2025 talks and sessions. Stay engaged with insightful discussions, workshops, and keynotes—hosted by Variant."
  keywords="Refill 2025 schedule, conference schedule, tech conference, workshops, networking, Variant, talks, event, stream"
  image="/assets/img/og-refill.png"
  url="https://www.refillconf.com/stream"
  layoutGap="5rem"
>
  <h1 class="stream__heading">Stream</h1>

  <div class="content__flex">
    <p>
      In this space you will be able to watch live streams of Refill 2025 talks
      and sessions. Stay tuned for presentations, insightful discussions, and
      keynotes.
    </p>

    <p><a href="/schedule">See full schedule</a> for what's to come.</p>

    <img
      src="/assets/img/og-refill.png"
      class="stream__image"
      alt="Refill 2025"
    />
  </div>

  <!-- TODO: Replace stremID with actual stream IDs -->
  <!-- <StreamView location="Aulan" streamId="jfKfPfyJRdk" />
  <StreamView location="Palmsalen" streamId="YDvsBbKfLPA" />
  <StreamView location="No. 314" streamId="Dx5qFachd3A" /> -->
</StreamLayout>

<style>
  .stream__heading {
    max-width: 1410px;
    width: 100%;
    margin: auto;
  }

  .content__flex {
    width: 100%;
    max-width: 1410px;
    margin: auto;
  }

  .content__flex p {
    max-width: 600px;
  }
  .content__flex p + p {
    margin-top: 1rem;
  }

  a {
    text-decoration: underline;
  }

  .stream__image {
    width: 100%;
    margin: 3rem 0;
  }
</style>
