---
import StreamView from "../components/streamView.astro";
import ScheduleLayout from "../layouts/ScheduleLayout.astro";
---

<ScheduleLayout
  title="Stream | Refill 2025"
  description="Watch live streams of Refill 2025 talks and sessions. Stay engaged with insightful discussions, workshops, and keynotes—hosted by Variant."
  keywords="Refill 2025 schedule, conference schedule, tech conference, workshops, networking, Variant, talks, event, stream"
  image="/assets/img/og-refill.png"
  url="https://www.refillconf.com/stream"
  layoutGap="5rem"
>
  <h1 class="stream__heading">Stream</h1>
  <!-- TODO: Replace stremID with actual stream IDs -->
  <StreamView location="Aulan" streamId="jfKfPfyJRdk" />
  <StreamView location="Palmsalen" streamId="YDvsBbKfLPA" />
  <StreamView location="No. 314" streamId="Dx5qFachd3A" />
</ScheduleLayout>

<style>
  .stream__heading {
    max-width: 1410px;
    width: 100%;
    margin: auto;
  }
</style>
