---
import StreamView from "../components/streamView.astro";
import ScheduleLayout from "../layouts/ScheduleLayout.astro";
---

<ScheduleLayout layoutGap="8rem">
  <h1>Stream</h1>
  <StreamView location="Aulan" streamId="jfKfPfyJRdk" />
  <StreamView location="Palmsalen" streamId="YDvsBbKfLPA" />
  <StreamView location="No. 314" streamId="Dx5qFachd3A" />
</ScheduleLayout>
