---
import StreamView from "../components/streamView.astro";
import ScheduleLayout from "../layouts/ScheduleLayout.astro";
---

<ScheduleLayout layoutGap="5rem">
  <h1 class="stream__heading">Stream</h1>
  <StreamView location="Aulan" streamId="jfKfPfyJRdk" />
  <StreamView location="Palmsalen" streamId="YDvsBbKfLPA" />
  <StreamView location="No. 314" streamId="Dx5qFachd3A" />
</ScheduleLayout>

<style>
  .stream__heading {
    max-width: 1410px;
    width: 100%;
    margin: auto;
  }
</style>
