<p class="discipline">
  <slot />
</p>

<style>
  .discipline {
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 2.5rem;
    width: fit-content;

    color: var(--text-primary);
    font-size: 1rem;
  }
</style>
