---
import Clock from "./Clock.vue";

const date = new Date(2025, 3, 4);
---

<div class="event_info">
  <div class="event_info__text">
    <div class="event_info__text__first">
      <p class="event_info__adress">7A Posthuset</p>
      <p class="event_info__large">4. april</p>
    </div>
    <p class="event_info__large">Build for impact</p>
  </div>

  <div class="event_info__time">
    <div class="event_info__clock">
      <Clock targetTime={date} format="days" />
      <p>days</p>
    </div>
    <div class="event_info__clock">
      <Clock targetTime={date} format="hours" />
      <p>hours</p>
    </div>
  </div>
</div>

<style>
  :root {
    --small-gap: 0.5rem;
    --clock-gap: 0.75rem;

    @media (max-width: 1000px) {
      --small-gap: 0.25rem;
    }
  }
  :where(
    .event_info,
    .event_info__text,
    .event_info__text__first,
    .event_info__time,
    .event_info__clock
  ) {
    display: flex;
    flex-direction: column;
  }

  .event_info {
    gap: var(--Padding-m);
    align-items: flex-end;
  }

  .event_info__text {
    gap: var(--small-gap);
    align-items: flex-end;
  }

  .event_info__text__first {
    gap: var(--small-gap);
    align-items: flex-end;
  }

  .event_info__time {
    flex-direction: row;
    gap: 0.25rem;
  }

  .event_info__clock {
    gap: 0.75rem;
    align-items: center;
    background-color: var(--coral-200);
    width: 84px;

    & > p {
      font-size: 2rem;
      color: var(--text-primary);

      @media (max-width: 530px) {
        font-size: 1.5rem;
      }
    }
  }

  .event_info__adress {
    font-size: var(--Font-size-H5);
    width: fit-content;
  }

  .event_info__large {
    font-size: 5.625rem;
    letter-spacing: -0.1125rem;
  }
</style>
