---
import { linkId } from "../utils/linkId";
import Button from "./button/button.astro";
---

<form
  class="newsletter"
  action="https://buttondown.com/api/emails/embed-subscribe/variant"
  method="post"
  id={linkId.newsletter.id}
>
  <input class="email" type="email" name="email" placeholder="E-mail" />
  <Button text="Register" buttonType="primary" />
</form>

<style>
  .newsletter {
    background-color: var(--color-yellow);
    padding: 0.375rem;
    border-radius: 0.375rem;

    display: flex;
    gap: 0.25rem;
  }

  .email {
    padding: 0.75rem 1.5rem;
    width: 100%;
    border-radius: 1.5rem;
    border: 0.5px solid var(--text-tertiary);
    background: var(--background-primary);

    font-size: 1rem;
    font-family: var(--font-britti);
  }
</style>
