<form
  action="https://buttondown.com/api/emails/embed-subscribe/pc"
  method="post"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  <input type="submit" value="Subscribe" />
</form>
