---
import type { SpeakerName } from "../utils/speakers";

interface Props {
  speakerName?: SpeakerName | SpeakerName[];
  title: string;
}

const { speakerName, title } = Astro.props;

function checkTalkLenght() {
  if (title.length > 50) return "90%";
  return "250px";
}

const name = Array.isArray(speakerName)
  ? `${speakerName[0]} & ${speakerName[1]}`
  : speakerName;

const maxWidth = checkTalkLenght();
---

<div class="talk">
  {speakerName && <p class="talk__speaker">{name}</p>}
  <p class="talk__text">
    {title}
  </p>
</div>

<style define:vars={{ maxWidth }}>
  .talk {
    max-width: var(--maxWidth);
    width: 100%;

    @media (max-width: 900px) {
      max-width: 100%;
    }
  }

  .talk__speaker,
  .talk__text {
    background-color: var(--background-primary);
    color: var(--text-primary);

    width: fit-content;
    padding: 0.25rem;
    border-radius: 0.36319rem;
  }

  .talk__text {
    font-size: 1.4rem;
  }
</style>
