---
interface Props {
  speakerName?: string;
  talk: string;
}

const { speakerName, talk } = Astro.props;

function checkTalkLenght() {
  if (talk.length > 50) return "90%";
  return "250px";
}

const maxWidth = checkTalkLenght();
---

<div class="talk">
  {speakerName && <p class="talk__speaker">{speakerName}</p>}
  <p class="talk__text">
    {talk}
  </p>
</div>

<style define:vars={{ maxWidth }}>
  .talk {
    max-width: var(--maxWidth);
    width: 100%;

    @media (max-width: 900px) {
      max-width: 100%;
    }
  }

  .talk__speaker,
  .talk__text {
    background-color: var(--background-primary);
    color: var(--text-primary);

    width: fit-content;
    padding: 0.25rem;
    border-radius: 0.36319rem;
  }

  .talk__text {
    font-size: 1.4rem;
  }
</style>
