---
import ScheduleEntryCard from "./ScheduleEntryCard/ScheduleEntryCard.astro";
import { type Track } from "../utils/schedule/types";
import { getTimesShortestFitInEvent } from "../utils/schedule/functions";

interface Props {
  track: Track;
  numberOfRows: number;
  shortestTime: number;
}
const { track, numberOfRows, shortestTime } = Astro.props;
---

<div class="track">
  {
    track.map((scheduleEntry) => {
      return (
        <ScheduleEntryCard
          event={scheduleEntry}
          span={getTimesShortestFitInEvent(scheduleEntry, shortestTime)}
        />
      );
    })
  }
</div>

<style is:global define:vars={{ numberOfRows }}>
  .track {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 1rem;
    grid-auto-flow: dense;

    @media (min-width: 1300px) {
      grid-template-rows: repeat(var(--numberOfRows), 1fr);
    }

    @media (max-width: 1300px) {
      > div:nth-child(odd):last-child {
        grid-column: 1 / -1;
      }
    }

    @media (max-width: 430px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  .track__single_card .description {
    display: none;
  }
</style>
