<section class="build_for_impact">
  <h2>Build for impact</h2>
  <p>
    Even in the age of AI, timeless craft combined with technology drives
    lasting impact. Join Refill to explore fresh perspectives in <mark
      >design</mark
    >, <mark>development</mark>, and <mark>strategy & product</mark>.
  </p>
</section>

<style>
  .build_for_impact {
    max-width: 870px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & h2 {
      font-size: var(--Font-size-H4);
    }

    & p {
      font-size: var(--Font-size-H2);
      line-height: 4rem;

      @media (max-width: 530px) {
        line-height: 2.5rem;
      }
    }

    mark {
      background-color: var(--color-yellow);
      border-radius: 0.375rem;
    }
  }
</style>
