---
import EventInfo from "../components/EventInfo.astro";
import { linkId } from "../utils/linkId";
---

<section class="hero">
  <div class="hero__wrapper">
    <div class="grid-item-full">
      <EventInfo />
    </div>
    <h1 class="hero__heading">Refill Stockholm 2025</h1>
    <a class="hero__register" href={linkId.newsletter.href}>Sign up ↓</a>
  </div>
</section>

<style>
  .hero {
    background-color: #fffbf6;
    padding: 7rem 10rem 4.5rem 3rem;
    border-radius: 0.375rem 6rem 0.375rem 0.375rem;
    min-height: calc(100vh - var(--Padding-rem));
    box-sizing: border-box;
  }
  .hero__wrapper {
    max-width: 1410px;
    margin: auto;
    display: grid;
    grid-template-areas: "full full" "left right";
  }

  .grid-item-full {
    grid-area: full;
  }

  .hero__heading {
    color: var(--text-primary);
    grid-area: left;
    max-width: 40rem;
  }

  .hero__register {
    font-size: var(--Font-size-H2);
    min-width: 73px;

    grid-area: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  @media (max-width: 1000px) {
    .hero {
      padding: var(--Padding-xxl) 3rem;
    }
    .hero__wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--Padding-xl);
    }

    .hero__heading {
      order: -1;
      max-width: 100%;
    }

    .hero__register {
      align-items: flex-start;
      justify-content: flex-end;
    }
  }

  @media (max-width: 530px) {
    .hero {
      padding: var(--Padding-l) var(--Padding-s);
    }
    .hero__wrapper {
      gap: var(--Padding-l);
    }
  }
</style>
