---
import SpeakerCard from "../components/SpeakerCard.astro";
import { colorPairs } from "../utils/colors";
---

<section class="speakers">
  <h2>A glimpse of what to expect ⚡</h2>
  <div class="speakers__talks">
    <SpeakerCard
      colorPair={colorPairs.teal50}
      speakerName="Anita Steinstad"
      talk="Design meets Sustainable Business – an experiment"
      discipline="Design"
    />
    <SpeakerCard
      colorPair={colorPairs.orange200}
      speakerName="Christian Brevik"
      talk="Test side-effects and behaviour, don’t mock them!"
      discipline="Development"
    />
    <SpeakerCard
      colorPair={colorPairs.darkBlue}
      speakerName="Malin C. Karlsen & Anders Hammervold"
      talk="Driving Transformation in Technology, Processes, and Governance for the National Road Database"
      discipline="Strategy & product"
    />
  </div>
</section>

<style>
  .speakers {
    max-width: 1410px;
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: var(--Padding-l);
  }

  .speakers__talks {
    display: flex;
    gap: var(--Padding-s);
    justify-content: center;
    flex-wrap: wrap;

    > div {
      max-width: 412px;
      max-height: 448px;
      width: 100%;
    }
  }
</style>
