---
import ScheduleLayout from "../../layouts/ScheduleLayout.astro";
import { findTalkByTimeAndLocation } from "../../utils/schedule/functions";

const currentTalk = findTalkByTimeAndLocation("Palmsalen");
if (currentTalk === undefined) {
  return Astro.redirect("/404");
}
---

<ScheduleLayout>
  <section>
    <h1>Palmesalen</h1>
    <p>{currentTalk?.title}</p>
    <div class="responsive-iframe-container">
      <iframe
        src="https://www.youtube.com/embed/STREAM_ID"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
  </section>
</ScheduleLayout>

<style>
  .responsive-iframe-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-width: 1410px;
    margin: 0 auto;

    > iframe {
      width: 100%;
      height: 100%;
    }
  }
</style>
