---
import "../styles/global.css";
import Navbar from "../components/navigation/Navbar.astro";
import Meta from "../components/Meta.astro";
---

<!doctype html>
<html lang="en">
  <Meta
    title="Refill 2025: Build for impact"
    description="Join Refill 2025, a conference hosted by Variant, featuring expert speakers, networking opportunities, and workshops."
    keywords="Refill 2025, conference, tech conference, workshops, networking, Variant, Stockholm, talks"
    image="/assets/img/og-refill.png"
    url="https://www.refillconf.com/"
  />
  <body>
    <Navbar />
    <main>
      <slot />
      <slot name="footer" />
    </main>
  </body>
</html>

<style is:global>
  main > section:not(:first-child) {
    padding: var(--Padding-index);
  }
</style>
