---
import "../styles/global.css";
import Footer from "../components/navigation/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Join Refill 2025, a conference hosted by Variant, featuring expert speakers, networking opportunities, and workshops."
    />
    <meta
      name="keywords"
      content="Refill 2025, conference, tech conference, workshops, networking, Variant, Stockholm, talks"
    />
    <meta name="author" content="Vri Refill" />
    <meta name="robots" content="index, follow" />
    <title>Refill 2025: Build for impact</title>

    <meta property="og:title" content="Refill 2025: Build for Impact" />
    <meta
      property="og:description"
      content="Join Refill 2025, a conference hosted by Variant, featuring expert speakers, networking opportunities, and workshops."
    />
    <meta property="og:image" content="/assets/img/variant-og-img.png" />
    <meta property="og:url" content="https://www.refillconf.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Refill 2025" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Refill 2025: Build for Impact" />
    <meta
      name="twitter:description"
      content="Join Refill 2025, a conference hosted by Variant, featuring expert speakers, networking opportunities, and workshops."
    />
    <meta name="twitter:image" content="/assets/img/variant-og-img.png" />
    <meta name="twitter:url" content="https://www.refillconf.com/" />
    <meta name="twitter:site" content="@Variant" />
    <meta name="twitter:creator" content="@Variant" />
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
