---
import "../styles/global.css";
import { colors } from "../utils/colors";

const { dark } = colors.background;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style define:vars={{ dark }}>
  :where(html, body) {
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--dark);
    padding: 1rem;
  }
</style>
