---
import "../styles/global.css";
import Footer from "../components/navigation/Footer.astro";
import Navbar from "../components/navigation/Navbar.astro";
import Meta from "../components/Meta.astro";
---

<!doctype html>
<html lang="en">
  <Meta
    title="Schedule | Refill 2025"
    description="Explore the full schedule for Refill 2025, featuring talks, workshops, and networking opportunities hosted by Variant."
    keywords="Refill 2025 schedule, conference schedule, tech conference, workshops, networking, Variant, talks, event schedule"
    image="/assets/img/og-refill.png"
    url="https://www.refillconf.com/schedule"
  />
  <body>
    <Navbar />
    <main>
      <slot />
      <Footer variant="black" />
    </main>
  </body>
</html>

<style>
  main {
    background-color: var(--background-primary);
    padding: var(--Padding-xxl) 4rem;

    gap: 1rem;

    @media (max-width: 530px) {
      padding: var(--Padding-xxl) var(--Padding-rem);
    }
  }
</style>
